<a href="https://colab.research.google.com/github/1604056nizam/Apriory/blob/main/neural_net_my_implementation_1604056.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.metrics import mean_squared_error

In [ ]:
from google.colab import files
data=files.upload()

Saving Copy of Depression and Happiness Factor Analysis.csv to Copy of Depression and Happiness Factor Analysis.csv

In [ ]:
df=pd.read_csv("Copy of Depression and Happiness Factor Analysis.csv")

In [ ]:
x=df["How are you feeling right now?"]
for i in range(x.size):
  if x[i]=="Good":
    x[i]=4
  elif x[i]=="Very good":
    x[i]=5
  elif x[i]=="Normal":
    x[i]=3
  elif x[i]=="Bad":
    x[i]=2
  elif x[i]=="Very bad":
    x[i]=3

x

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

0      4
1      3
2      5
3      2
4      3
      ..
538    4
539    5
540    3
541    4
542    4
Name: How are you feeling right now?, Length: 543, dtype: object

In [ ]:
df.head()

                     Timestamp  ... How long did you sleep last night?(in hours)
0  2020/12/26 5:22:11 PM GMT+6  ...                                            8
1  2020/12/26 5:25:55 PM GMT+6  ...                                            7
2  2020/12/26 5:27:29 PM GMT+6  ...                                            5
3  2020/12/26 5:29:59 PM GMT+6  ...                                            4
4  2020/12/26 5:31:07 PM GMT+6  ...                                            3

[5 rows x 21 columns]

In [ ]:

columns = ["Timestamp","Level","Class","Scale","Gender","Age","Residence","RelationshipStatus","FinanceState","CopeWithInstitute","RelationWithFamily","Pressure","AcademicResult","LivingPlace","SupportedBy","SocialMediaIn6","InferiorityComplex","MealSatisfaction","Health","OtherPositiveActivity","SleepTime"]
df.columns = columns
df = df.sample(frac=1).reset_index(drop=True)
Class_Status = df["Class"]
Class_Scale = df["Scale"]
df.drop([ "Timestamp","Level","Gender","Residence","RelationshipStatus","FinanceState","CopeWithInstitute","RelationWithFamily","Pressure","AcademicResult","LivingPlace","SupportedBy","SocialMediaIn6","InferiorityComplex","MealSatisfaction","Health","OtherPositiveActivity"], axis=1, inplace=True)

In [ ]:
df.head()

  Class  Scale  Age  SleepTime
0     3     64   23          7
1     3     65   22          6
2     2     36   20          7
3     4     84   23          9
4     3     53   21          7

In [ ]:

df.head()

  Class  Scale  Age  SleepTime
0     2     50   23          4
1     3     62   22          3
2     2     34   21          5
3     2     23   20          6
4     4     80   21          7

In [ ]:
import numpy as np
import pandas as pd
from keras.utils.np_utils import to_categorical

predictors=df.drop(['Class'],axis=1)
target=pd.get_dummies(df.Class)

In [ ]:
from keras import Sequential
import keras
model = Sequential()
# Adding the input layer and the first hidden layer
model.add(keras.layers.Dense( 32, activation = 'relu', input_shape = (predictors.shape[1],)))
model.add(keras.layers.Dense(16, activation="relu"))
model.add(keras.layers.Dense(target.shape[1], activation="softmax"))

In [ ]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

In [ ]:
model.fit(predictors,target,epochs=10)

Epoch 1/10
17/17 [==============================] - 1s 2ms/step - loss: 2.2059 - accuracy: 0.4052
Epoch 2/10
17/17 [==============================] - 0s 2ms/step - loss: 1.1367 - accuracy: 0.4899
Epoch 3/10
17/17 [==============================] - 0s 2ms/step - loss: 1.0332 - accuracy: 0.5451
Epoch 4/10
17/17 [==============================] - 0s 2ms/step - loss: 0.9656 - accuracy: 0.5525
Epoch 5/10
17/17 [==============================] - 0s 2ms/step - loss: 0.9258 - accuracy: 0.5783
Epoch 6/10
17/17 [==============================] - 0s 2ms/step - loss: 0.9049 - accuracy: 0.5967
Epoch 7/10
17/17 [==============================] - 0s 2ms/step - loss: 0.8797 - accuracy: 0.5893
Epoch 8/10
17/17 [==============================] - 0s 2ms/step - loss: 0.8407 - accuracy: 0.6188
Epoch 9/10
17/17 [==============================] - 0s 2ms/step - loss: 0.8186 - accuracy: 0.6298
Epoch 10/10
17/17 [==============================] - 0s 3ms/step - loss: 0.8053 - accuracy: 0.6317

In [ ]:
target

     2  3  4  5
0    1  0  0  0
1    0  1  0  0
2    1  0  0  0
3    1  0  0  0
4    0  0  1  0
..  .. .. .. ..
538  0  1  0  0
539  0  1  0  0
540  0  1  0  0
541  0  1  0  0
542  0  0  0  1

[543 rows x 4 columns]